<% @recipes.each do |recipe| %>
    <%= render partial: 'recipe', locals: {recipe: recipe} %>
    <div id="recipe-<%= recipe.id%>">
        <%= link_to 'Aprovar', approve_recipe_path(recipe), class:"btn btn-outline-success", method: :post %>
        <%= link_to 'Reprovar', reject_recipe_path(recipe), class:"btn btn-outline-danger", method: :post %>
    </div>
<% end %>