<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>
  <div class='row'>
    <div class="col col-5">
      <h2>Últimas receitas</h2>
      <%= render partial: 'recipe', collection: @recipes %>
    </div>
    <div class="col col-5">
      <h2>Favoritas dos usuários</h2>
    </div>
  </div>
</div>