<% result =  (@recipes.length != 1) ? 'resultados' : 'resultado' %>
<h3>Foram encontrados <%= @recipes.length %> <%= result %> conforme a busca</h3>
<%= render partial: 'recipe', collection: @recipes %>