<% result =  (@recipes.length != 1) ? 'resultados' : 'resultado' %>

<h3>Foram encontrados <%= @recipes.length %> <%= result %> conforme a busca</h3>

<% @recipes.each do |recipe| %>
    <h1><%= recipe.title  %></h1>
    <h3><%= recipe.recipe_type.name %></h3>
  
<% end %>