<h1>Titulo: <%= @recipe_type.name %></h1>

<div class="d-flex flex-wrap">
<% @recipe_type.recipes.each do |recipe| %>
    <%= render partial: 'recipes/recipe', locals: {recipe: recipe} %>
  <% end %>
</div>
<%= link_to 'Voltar', root_path %>
