@import  "bootstrap" ;

.icons {
    top: 4.65rem;
    font-size: 2em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cc8400;
    color: white;
    text-align: center;
}